<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">[108] ERP Project</a>

    <li class="nav-item active">
        <a class="navbar-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-lnk" routerLink="/converter">Temp Converter</a>
    </li>

    <li class="nav-item">
        <a class="nav-lnk" routerLink="/user/register">Register User</a>
    </li>

    <li class="nav-item">
        <a class="nav-lnk" routerLink="/user/list">User List</a>
    </li>

    <li class="nav-item">
        <a class="nav-lnk" routerLink="/about">About</a>
    </li>

    
    <li class="nav-item">
        <a class="nav-lnk" routerLink="/login">Login</a>
    </li>
 

</nav>