
div {
    padding: 10px 20px;
    border: 1px solid #f0f0f0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    color: rgb(139, 132, 132);
    text-align: auto;
    padding: 15px;
}

input{
    margin-left: 5px;
}